@font-face {
    font-family: "VarelaRound-Regular";
    src: url("./Fonts/VarelaRound-Regular/VarelaRound-Regular.woff2") format("woff2"),
         url("./Fonts/VarelaRound-Regular/VarelaRound-Regular.woff") format("woff");
  }
  