<template>
  <div :style="`margin-right: 7%;margin-left: 7%;`">
    <HomeComponet :Image="RobotImg" :sizeOfDivide="sizeOfDivide" />
  </div>
  <div
    :style="
      sizeOfDivide['Sm'] || sizeOfDivide['Xs']
        ? ''
        : `margin-right: 7%;margin-left: 7%;`
    "
  >
    <SecondaryComponet :sizeOfDivide="sizeOfDivide" />
  </div>
  <div :style="`margin-right: 7%;margin-left: 7%;`">
    <ThirdComponent />
  </div>
  <div :style="`margin-right: 7%;margin-left: 7%;`">
    <Component4 :sizeOfDivide="sizeOfDivide" />
  </div>
  <div
    :style="
      sizeOfDivide['Sm'] || sizeOfDivide['Xs']
        ? ''
        : `margin-right: 7%;margin-left: 7%;`
    "
  >
    <Component5 :sizeOfDivide="sizeOfDivide" />
    <Component6 :sizeOfDivide="sizeOfDivide" />
    <Component7 :sizeOfDivide="sizeOfDivide" />
  </div>
  <div :style="`margin-right: 7%;margin-left: 7%;`">
    <HomeComponet
      :ImageSize="{ SmXs: 150, Md: 200, DF: 200 }"
      :THeadSize="{ SmXs: 2.5, Md: 2.5, DF: 3 }"
      :PositionImage="{
        topMdToUp: '0' /* unit px*/,
        topXsSm: '0' /* unit %*/,
        rightXsSm: '-15' /* unit px*/,
      }"
      :Image="HumanGirl"
      :sizeOfDivide="sizeOfDivide"
      :OpenBorder="true"
      :MarginComp="{XsTop:50,DfTop:100}"
    />
  </div>
  <div>
    <Footer :sizeOfDivide="sizeOfDivide"/>
  </div>
</template>
<script>
// @ is an alias to /src
import HomeComponet from "../components/home-component.vue";
import SecondaryComponet from "../components/secondary-component.vue";
import ThirdComponent from "../components/3-component.vue";
import Component4 from "../components/Component4.vue";
import Component5 from "../components/Component5.vue";
import Component6 from "../components/Component6.vue";
import Component7 from "../components/Component7.vue";
import Footer from "../components/Footer.vue";


import RobotImg from "../assets/images/robot.svg";
import HumanGirl from "../assets/images/Humangirl.svg";

export default {
  props: {
    sizeOfDivide: Object,
  },
  name: "Home",
  components: {
    HomeComponet,
    SecondaryComponet,
    ThirdComponent,
    Component4,
    Component5,
    Component6,
    Component7,
    Footer,
  },
  setup() {
    return {
      RobotImg,
      HumanGirl,
    };
  },
  mounted: function () {
    // console.log(this.sizeOfDivide)
  },
};
</script>
<style scoped lang="css"></style>
