<template>
  <v-row class="set-space">
    <v-col class="d-flex justify-center" v-for="item in brands" :key="item.id">
      <div class="set-image-size ">
        <v-img width="40px" :src="item.Img"></v-img>
        <p class="pl-3">{{ item.BranName }}</p>
      </div>
    </v-col>
  </v-row>
</template>
<script>
import { brands } from "../Data/data_of_brand.js";
export default {
  setup() {
    return {
      brands,
    };
  }
};
</script>
<style scoped>
.set-space {
  margin: 5vh 0 5vh 0;
}
.set-image-size {
  display: flex;
  align-items: center;
  font-family: Inter-Medium;
  color: #999999;
  font-size: 1.5em;
}
</style>
