<template>
  <v-card
    :color="OpenColor ? ColorOfCard : ''"
    :width="widthOfCard"
    :height="heightOfCard"
    class="set-style-card"
    flat
    :theme="Theme"
  >
    <!-- <v-img class="remove-jagged" :src="CardData.nftImage"></v-img> -->
    <div
      :style="`
      background: url(${CardData.nftImage});
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 70%;
    `"
    ></div>

    <v-card-title
      :class="`pl-${PaddingTextBox[0]} pr-${PaddingTextBox[1]} pt-${PaddingTextBox[2]} pb-${PaddingTextBox[3]}`"
    >
      <v-row no-gutters>
        <v-col class="text-box-1" :style="`line-height:${TexLineHeight}%`">
          <p :style="'font-size:' + 0.75 * ScaleText + 'em'">
            {{ CardData.textSeries }}
          </p>
          <p :style="'font-size:' + 1 * ScaleText + 'em'">
            {{ CardData.nameOfCard }}
          </p>
          <p :style="'font-size:' + 0.8 * ScaleText + 'em'">
            {{ CardData.hash }}
          </p>
        </v-col>
        <v-col class="text-align" :style="`line-height:${TexLineHeight}%`">
          <p :style="'color: #777777;font-size:' + 0.7 * ScaleText + 'em'">
            {{ CardData.topStatus }}
          </p>
          <div class="d-flex align-center justify-end">
            <img
              class="mr-1"
              :style="`height: ${20 * ScaleCrytoImg}px`"
              :src="CardData.crytoType"
            />
            <p :style="'font-size:' + 1 * ScaleText + 'em'">
              {{ CardData.priceOfEth }} {{ CardData.cryptoType }}
            </p>
          </div>
          <p :style="'color: #777777;font-size:' + 0.8 * ScaleText + 'em'">
            {{ CardData.date }}
          </p>
        </v-col>
      </v-row>
    </v-card-title>
  </v-card>
</template>
<script>
import { toRefs } from "@vue/reactivity";
export default {
  props: {
    CardObject: Object,
    ColorOfCard: {
      type: String,
      default: function () {
        return "";
      },
    },
    ScaleText: Number,
    ScaleCrytoImg: Number,
    widthOfCard: String,
    heightOfCard: String,
    PaddingTextBox: Array,
    TexLineHeight: Number,
    Theme: String,
    OpenColor: {
      type: Boolean,
      default: function () {
        return false;
      },
    },
  },
  setup(props) {
    const { CardObject } = toRefs(props);
    const CardData = CardObject.value;
    return {
      CardData,
    };
  },
  mounted() {},
};
</script>
<style scoped>
.set-style-card {
  font-family: Inter-Medium;
  border-radius: 10px;
}
.text-box-1 p:nth-child(1) {
  text-transform: uppercase;
  color: #ff8139;
}
.text-box-1 p:nth-child(3) {
  color: #777777;
}
.text-align {
  text-align: right;
}
.text-align p:nth-child(1),
.text-align p:nth-child(2) {
  text-transform: uppercase;
}
</style>
