<template>
  <v-card
    flat
    class="card-eth"
    :style="`padding: ${padding[0]}% ${padding[1]}% ${padding[2]}% ${
      padding[3]
    }%; ${
      BgTransparent ? `background: transparent;` : ``
    } border-radius:${Bredius}px`"
  >
    <v-img width="50px" :src="Datas.Image"></v-img>
    <div class="text-box" :style="`color: ${TextCl};font-size: ${FontSize}em`">
      <p>{{ Datas.Header }}</p>
      <p>{{ Datas.Paragraph1 }}</p>
      <p>{{ Datas.Paragraph2 }}</p>
    </div>
  </v-card>
</template>
<script>
export default {
  props: {
    FontSize: Number,
    Bredius: {
      type: Number,
      default: function () {
        return 0;
      },
    },
    BgTransparent: Boolean,
    TextCl: String,
    Datas: Object,
    padding: {
      type: Array,
      default: function () {
        return [0, 0, 0, 0];
      },
    },
  },
  setup() {
    return {};
  },
};
</script>
<style scoped>
.text-box {
  margin-top: 5%;
}
.text-box p:nth-child(1) {
  font-family: Inter-Medium;
  font-size: 2em;
}
.text-box p:nth-child(2) {
  font-family: Inter-Regular;
  font-size: 1em;
  margin-top: 1vh;
}
.text-box p:nth-child(3) {
  font-size: 1em;
  margin-top: 1vh;
}
</style>
