<template>
  <v-row>
    <v-col
      v-for="item in DataOfCard"
      :key="item.id"
      :cols="Xs || Sm ? 12 : 6"
      :style="Xs ? `background:${item.BgXs};` : ''"
      :class="Sm ? 'pa-0 pt-1' : ''"
    >
      <CardComponent7
        :TextCl="Xs ? `#555555` : '#CCCCCC'"
        :padding="Xs ? [10, 7, 10, 7] : [10, 10, 10, 10]"
        :Datas="item"
        :BgTransparent="Xs ? true : false"
        :Bredius="Xs || Sm ? 0 : 10"
        :FontSize="Md ? 1.2 : Xs || Sm ? 1 : 1.2"
      />
    </v-col>
  </v-row>
</template>
<script>
import CardComponent7 from "./Card-componet7.vue";
import { DataOfCard } from "../Data/data_of_card_comp_7";
export default {
  props: {
    sizeOfDivide: Object,
  },
  components: {
    CardComponent7,
  },
  setup() {
    return {
      DataOfCard,
    };
  },
  computed: {
    Xs: function () {
      return this.sizeOfDivide.Xs;
    },
    Sm: function () {
      return this.sizeOfDivide.Sm;
    },
    Md: function () {
      return this.sizeOfDivide.Md;
    },
  },
};
</script>
