<template>
  <Layout
    :cols1="Xs ? 12 : 6"
    :cols2="Xs ? 12 : 6"
    :order1="Xs ? 2 : 1"
    :order2="Xs ? 1 : 2"
    :borderR="Xs || Sm ? 0 : 10"
    :Margin="Xs ? [10, 0, 0, 0] : [10, 0, 10, 0]"
    background="linear-gradient(125deg, #ff8139 0%, #ff7449 60%, #ff3998 100%)"
  >
    <template #right>
      <div
        class="left-box"
        :style="Xs ? `padding: 7%;` : `padding: 10%;`"
        :class="Xs ? 'set-new-background-text-box' : ''"
      >
        <p>Initial Release 4/11</p>
        <p
          class="text-detail"
          :style="`font-size: ${Md ? 1.2 : Sm || Xs ? 1 : 1.2}em;`"
        >
          We have released four limited edition NFTs early which can be bid on
          via
          <a style="color: #000000" href="">OpenSea</a>.
        </p>
        <p :style="`font-size: ${Md ? 1.2 : Sm || Xs ? 1 : 1.2}em;`">
          These will be the only four of these NFTs we ever make, so be sure not
          to miss out!
        </p>
        <p :style="`font-size: ${Md ? 1.2 : Sm || Xs ? 1 : 1.2}em;`">
          50% of proceeds go to charity.
        </p>

        <v-btn
          :color="Xs ? `red-plink` : ''"
          flat
          variant="text"
          class="set-btn-css-options"
          :style="`font-size: ${Md ? 1.2 : Sm || Xs ? 1 : 1.2}em;`"
          >Check them out
          <v-icon class="mdi-arrow">mdi-arrow-right</v-icon></v-btn
        >
      </div>
    </template>

    <template #left>
      <div
        class="right-box"
        :class="Xs ? 'set-new-background' : ''"
        :style="Xs ? `height: 300px;` : `height: 60%;`"
      >
        <img
          :style="Xs ? `top: 50px` : `top: 100px;`"
          class="image-orange-man"
          :src="OrengeMan"
        />
        <div v-show="Xs || Sm ? false : true" class="text-of-card">
          <p>Gloop Series</p>
          <p>Red Man</p>
          <p>#12983</p>
        </div>
      </div>
    </template>
  </Layout>
</template>
<script>
import OrengeMan from "../assets/images/orenge_man.svg";
import Layout from "./LayoutComponent5.vue";
export default {
  props: {
    sizeOfDivide: Object,
  },
  components: {
    Layout,
  },
  setup() {
    return {
      OrengeMan,
    };
  },
  computed: {
    Theme: function () {
      return this.$vuetify.theme.current;
    },
    Xs: function () {
      return this.sizeOfDivide.Xs;
    },
    Sm: function () {
      return this.sizeOfDivide.Sm;
    },
    Md: function () {
      return this.sizeOfDivide.Md;
    },
  },
};
</script>
<style scoped>
.left-box {
  color: #000;
}
.left-box p:nth-child(1) {
  font-size: 2em;
}
.left-box > p {
  margin-top: 10px;
  /* font-size: 1.2em; */
}
.right-box {
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
.text-of-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 10%;
  margin-left: 10%;
}
.text-of-card p:nth-child(1) {
  text-transform: uppercase;
  font-family: Inter-Medium;
}
.text-of-card p:nth-child(2) {
  color: #000;
  font-family: Inter-Medium;
}
.text-of-card p:nth-child(3) {
  color: #777777;
  font-family: Inter-Regular;
}
.set-new-background {
  background: linear-gradient(45deg, #fff0e8 0%, #fff0e8 50%, #ff3998 110%);
}
.set-new-background-text-box {
  background: #fff0e8;
}
.image-orange-man {
  height: 600px !important;
  position: relative;
}
.set-btn-css-options {
  font-family: Inter-Medium;
  font-size: 1.2em;
  text-transform: inherit;
  padding: 0;
  margin-top: 10px;
}
.mdi-arrow {
  font-size: 1.3em;
  top: 3px;
  margin-left: 5px;
}
</style>
