<template>
  <div class="component4">
    <p class="text-head" :style="`font-size: ${Md ? 2.5 : Sm || Xs ? 2 : 3}em;`">LE Super Rare Auction</p>
    <p class="text-detail"
    :style="`font-size: ${Md ? 1.2 : Sm || Xs ? 1 : 1.2}em;`">
      We have released four limited edition NFTs early which can be bid on via
      <a :style="Theme=='dark'?`color:#FFFFFF`:`color:#000000`" href="">OpenSea</a>.
    </p>
    <div class="set-Overflow-options mt-10">
      <div class="mr-2 ml-2" v-for="item in CardObject2" :key="item.id">
        <CardComponet
          :widthOfCard="`${280}px`"
          :heightOfCard="`${370}px`"
          :id="'card' + item.id"
          :CardObject="item"
          :ScaleText="0.8"
          :ScaleCrytoImg="1"
          :PaddingTextBox="[5, 5, 4, 4]"
          :TexLineHeight="130"
          :ColorOfCard="Theme==='dark'?'':'#eeeeee'"
          :OpenColor="true"
        />
      </div>
    </div>
  </div>
</template>
<script>
import CardComponet from "./card-component.vue";
import { CardObject2 } from "../Data/data_of_card";
export default {
  props: {
    sizeOfDivide: Object,
  },
  components: {
    CardComponet,
  },
  setup() {
    return {
      CardObject2,
    };
  },
  computed: {
    // Lg1 264-1904px ,Md 960-1264px,Sm 600-960px,Xl > 1904px,Xs 0-600px
    Xs: function () {
      return this.sizeOfDivide.Xs;
    },
    Sm: function () {
      return this.sizeOfDivide.Sm;
    },
    Md: function () {
      return this.sizeOfDivide.Md;
    },
    Lg: function () {
      return this.sizeOfDivide.Lg;
    },
    Xl: function () {
      return this.sizeOfDivide.Xl;
    },
    Theme: function () {
      return this.$vuetify.theme.current;
    },
  },
  mounted() {
    const scrollContainer = document.querySelector(".set-Overflow-options");
    scrollContainer.addEventListener("wheel", (evt) => {
      evt.preventDefault();
      scrollContainer.scrollLeft += evt.deltaY;
    });
  },
};
</script>
<style scoped>
.component4 {
  margin: 5vh 0 5vh 0;
}
.set-Overflow-options {
  display: flex;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-x: scroll;
}
.set-Overflow-options::-webkit-scrollbar {
  display: none;
}
.set-Overflow-options > div {
  margin: auto;
}
.text-head {
  font-family: Inter-Medium;
}
.text-detail {
  font-family: Inter-Regular;
}
</style>
