<template>
  <Layout
    :cols1="Xs ? 12 : 6"
    :cols2="Xs ? 12 : 6"
    :order1="Xs ? 1 : 1"
    :order2="Xs ? 2 : 2"
    :borderR="Xs || Sm ? 0 : 10"
    :background="
      Xs
        ? `linear-gradient(45deg, #EDFFF6 70%, #FF8139 100%)`
        : `linear-gradient(45deg, #FF8139 0%, #39FFA0 10%)`
    "
    :Margin="Xs ? [0, 0, 0, 0] : [10, 0, 10, 0]"
  >
    <template #right>
      <div
        class="right-box"
        :style="Xs ? `padding: 10% 2% 0 2%;` : `padding: 10%;`"
      >
        <CardComponet
          :widthOfCard="`${280}px`"
          :heightOfCard="`${350}px`"
          :id="'card' + cardObject[1].id"
          :CardObject="cardObject[1]"
          :ScaleText="0.8"
          :ScaleCrytoImg="1"
          :PaddingTextBox="[5, 5, 4, 4]"
          :TexLineHeight="130"
          :Theme="'dark'"
        />
      </div>
    </template>
    <template #left>
      <div
        class="left-box"
        :style="Xs ? `padding: 7%;` : `padding: 10%;`"
        :class="Xs ? 'set-new-background-text-box' : ''"
      >
        <p>Initial Release 4/11</p>
        <p
          :style="`font-size: ${Md ? 1.2 : Sm || Xs ? 1 : 1.2}em;`"
          class="text-detail"
        >
          We have released four limited edition NFTs early which can be bid on
          via
          <a style="color: #000000" href="">OpenSea</a>.
        </p>
        <p :style="`font-size: ${Md ? 1.2 : Sm || Xs ? 1 : 1.2}em;`">
          These will be the only four of these NFTs we ever make, so be sure not
          to miss out!
        </p>
        <p :style="`font-size: ${Md ? 1.2 : Sm || Xs ? 1 : 1.2}em;`">
          20% of proceeds go to charity.
        </p>

        <v-btn
          :style="`font-size: ${Md ? 1.2 : Sm || Xs ? 1 : 1.2}em;`"
          :color="Xs ? `red-plink` : ''"
          flat
          variant="text"
          class="set-btn-css-options"
          >Check them out
          <v-icon class="mdi-arrow">mdi-arrow-right</v-icon></v-btn
        >
      </div>
    </template>
  </Layout>
</template>
<script>
import Layout from "./LayoutComponent5.vue";
import CardComponet from "./card-component.vue";
import { cardObject } from "../Data/data_of_card";
export default {
  props: { sizeOfDivide: Object },
  components: {
    Layout,
    CardComponet,
  },
  setup() {
    return {
      cardObject,
    };
  },
  computed: {
    Xs: function () {
      return this.sizeOfDivide.Xs;
    },
    Sm: function () {
      return this.sizeOfDivide.Sm;
    },
    Md: function () {
      return this.sizeOfDivide.Md;
    },
  },
};
</script>
<style scoped>
.right-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-box {
  color: #000;
}
.left-box p:nth-child(1) {
  font-size: 2em;
}
.left-box > p {
  margin-top: 10px;
  /* font-size: 1.2em; */
}
.set-btn-css-options {
  font-family: Inter-Medium;
  /* font-size: 1.2em; */
  text-transform: inherit;
  padding: 0;
  margin-top: 10px;
}
.mdi-arrow {
  font-size: 1.3em;
  top: 3px;
  margin-left: 5px;
}
</style>
