<template>
  <v-card
    :style="Xs ? 'color: #555555' : 'background: black;color: #CCCCCC'"
    class="set-bg"
  >
    <v-row>
      <v-col class="box-socail" :cols="Xs ? 12 : 6">
        <div class="Text-logo">
          <img style="width: 35px" :src="Xs ? LogoBlack : LogoWhite" />
          <p :style="Xs ? `color:#000000` : `color:#ffffff`">nftlanding</p>
        </div>
        <p>Exclusive NFT Collection</p>
        <v-row class="mt-5">
          <div class="icon-social-size" v-for="item in Social" :key="item.id">
            <v-btn icon variant="text">
              <img style="width: 25px; height: 25px" :src="item.img" />
            </v-btn>
          </div>
        </v-row>
      </v-col>
      <v-col
        class="box-menu"
        :style="Xs ? `margin-top: 20px` : ''"
        :cols="Xs ? 12 : 6"
      >
        <v-row>
          <v-col v-for="Key in Keys" :key="Key" :cols="Xs ? 6 : ''">
            <p class="text-head">{{ Key }}</p>
            <div class="set-flex">
              <a
                :style="
                  Xs ? 'color: #555555' : 'background: black;color: #CCCCCC'
                "
                v-for="item in FooterMenu[Key]"
                :href="item.Link"
                :key="item"
                >{{ item.MenuN }}</a
              >
            </div>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row class="last-text">
      <v-col
        ><p :style="Xs ? `color:#999999` : `color:#777777`">
          © Copyright 2022 NFTlanding
        </p></v-col
      >
      <v-col v-show="Xs||Sm?false:true"
        ><p
          :style="Xs ? `color:#999999` : `color:#777777`"
          style="text-align: right"
        >
          Make website by Tor ,For learing only, Design from figma community
        </p></v-col
      >
    </v-row>
  </v-card>
</template>
<script>
import { FooterMenu } from "../Data/data_of_footer";
import { Social } from "../Data/data_of_social";

import LogoBlack from "../assets/icon-nav/logo2.svg";
import LogoWhite from "../assets/icon-nav/logo.svg";

export default {
  props: {
    sizeOfDivide: Object,
  },
  setup() {
    const Keys = Object.keys(FooterMenu);
    return {
      FooterMenu,
      LogoBlack,
      LogoWhite,
      Social,
      Keys,
    };
  },
  computed: {
    Xs: function () {
      return this.sizeOfDivide.Xs;
    },
    Sm: function () {
      return this.sizeOfDivide.Sm;
    },
  },
};
</script>
<style scoped>
.set-bg {
  padding: 5% 7% 5% 7%;
  position: relative;
}
.Text-logo {
  display: flex;
  align-items: center;
}
.Text-logo p:nth-child(2) {
  font-weight: 900 !important;
  font-size: 1.5em !important;
  padding-left: 10px;
}
.icon-social-size {
  margin: 0 0 0 0;
}
.box-socail p:nth-child(2) {
  font-family: Inter-Regular;
  font-size: 1em;
  margin: 10px 0 10px 0;
}
.set-flex {
  display: flex;
  flex-direction: column;
}
.set-flex a {
  text-decoration: none;
  font-family: Inter-Regular;
}
.text-head {
  font-family: Inter-Bold;
  margin-bottom: 10px;
}
.last-text {
  margin-top: 5%;
  margin-bottom:3%;
  font-size: 1em;
  font-family: Inter-Regular;
}
</style>
