<template>
  <v-row
    :style="
      Xs
        ? `margin-top: ${MarginComp.XsTop}px;`
        : `margin-top: ${MarginComp.DfTop}px;`
    "
    :class="OpenBorder ? `set-border` : ``"
    no-gutters
  >
    <v-col
      class="text-box"
      :class="Md || Sm ? 'pr-5' : ''"
      :cols="Md || Sm || Xs ? 8 : ''"
    >
      <div>
        <p :style="Md || Sm || Xs ? 'font-size:1em' : ''" class="text-top">
          Launching Soon
        </p>
        <p
          :style="
            Md
              ? `font-size: ${THeadSize.Md}em`
              : Sm || Xs
              ? `font-size: ${THeadSize.SmXs}em`
              : `font-size: ${THeadSize.DF}em`
          "
          color="bg_sign_up"
          class="text-title"
        >
          An NFT like no other
        </p>
        <p
          :style="
            Md
              ? 'font-size: 1.2em'
              : Sm || Xs
              ? 'font-size: 1em'
              : 'font-size: 1.5em'
          "
          class="text-sub-title"
        >
          Don’t miss out on the release of our new NFT. Sign up below to receive
          updates when we go live.
        </p>
      </div>
      <div class="btn-out d-flex justify-center align-center"
       :style="Xs? `margin-bottom: 20%`:``"
      >
        <v-btn
          flat
          color="bg_sign_up"
          rounded="pill"
          width="100%"
          height="100%"
          class="btn-in"
          >Sign Up</v-btn
        >
        <!-- <a class="btn-in">Sign Up</a> -->
      </div>
    </v-col>
    <v-col
      :cols="Md || Sm || Xs ? 4 : ''"
      class="d-flex justify-center align-end"
    >
      <div
        :style="
          Sm || Xs
            ? 'width: 150px;height: 150px;'
            : 'width: 300px;height: 300px;'
        "
        class="Ellipse"
      ></div>
      <div
        :style="
          Sm || Xs
            ? 'width: 100px;height: 100px;'
            : 'width: 250px;height: 250px;'
        "
        class="Ellipse2"
      ></div>
      <div class="crop-image">
        <v-img
          :style="
            Md
              ? `width:${ImageSize.Md}px;top: ${PositionImage.topMdToUp}px;`
              : Sm || Xs
              ? `width:${ImageSize.SmXs}px;right: ${PositionImage.rightXsSm}%;top: ${PositionImage.topXsSm}px;`
              : `width:${ImageSize.DF}px;top: ${PositionImage.topMdToUp}px;`
          "
          class="image"
          :src="Image"
        ></v-img>
      </div>
    </v-col>
  </v-row>
</template>
<script>
export default {
  props: {
    OpenBorder: {
      type: Boolean,
      default: function () {
        return false;
      },
    },
    PositionImage: {
      type: Object,
      default: function () {
        return {
          topMdToUp: "-20" /* unit px*/,
          topXsSm: "-50" /* unit %*/,
          rightXsSm: "-30" /* unit px*/,
        };
      },
    },
    MarginComp: {
      type: Object,
      default: function () {
        return { XsTop: 80, DfTop: 200 };
      },
    },
    sizeOfDivide: Object,
    Image: String,
    THeadSize: {
      type: Object,
      default: function () {
        return { SmXs: 2.5, Md: 6, DF: 8 };
      },
    },
    ImageSize: {
      type: Object,
      default: function () {
        return { SmXs: 200, Md: 300, DF: 400 };
      },
    },
  },
  setup() {
    return {};
  },
  computed: {
    Xs: function () {
      return this.sizeOfDivide.Xs;
    },
    Sm: function () {
      return this.sizeOfDivide.Sm;
    },
    Md: function () {
      return this.sizeOfDivide.Md;
    },
    Lg: function () {
      return this.sizeOfDivide.Lg;
    },
    Xl: function () {
      return this.sizeOfDivide.Xl;
    },
  },
  mounted() {
    // console.log(this.Xs);
  },
};
</script>
<style scoped>
.text-top {
  color: #ff3998;
  font-family: Inter-Black;
  font-size: 120%;
  text-transform: uppercase;
}
.text-title {
  /* font-size: 900%; */
  /* font-size: 800%;     */
  font-family: Inter-Black;
  line-height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.text-sub-title {
  font-family: Inter-Regular;
  /* font-size: 150%; */
  /* font-size: 150%; */
}

.btn-out {
  margin-top: 5%;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#ff3998),
    color-stop(25%, #ff3939),
    color-stop(50%, #ff8139)
  );
  background: -o-linear-gradient(
    top left,
    #ff3998 0%,
    #ff3939 25%,
    #ff8139 50%
  );
  background: linear-gradient(
    to bottom right,
    #ff3998 0%,
    #ff3939 25%,
    #ff8139 50%
  );
  width: 150px;
  height: 60px;
  padding: 3px;
  border-radius: 100px;
}
.btn-in {
  font-family: Inter-SemiBold;
  text-transform: capitalize;
  font-size: 100%;
}
.Ellipse {
  position: absolute;
  margin-left: 7%;
  position: absolute;
  background: #ff3998;
  -webkit-filter: blur(94.3705px);
  filter: blur(94.3705px);
  border-radius: 50%;
}
.Ellipse2 {
  position: absolute;
  margin-top: 10%;
  margin-right: 5%;
  position: absolute;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#ff8139),
      to(#ff8139)
    ),
    #ff8139;
  background: -o-linear-gradient(bottom, #ff8139, #ff8139), #ff8139;
  background: linear-gradient(0deg, #ff8139, #ff8139), #ff8139;
  -webkit-filter: blur(94.3705px);
  filter: blur(94.3705px);
}
.set-border {
  padding: 5% 0 0% 0;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  position: relative;
}
.text-box{
  z-index: 1;
}
/* .crop-image{
  height: 100%;
  position: relative;
  overflow: hidden;
} */
</style>
