<template>
  <v-row
    :style="`border-radius: ${borderR}px;background:${background};
  margin: ${Margin[0]}vh 0 ${Margin[2]}vh 0;
  `"
    class="set-css-options d-flex align-center justify-center"
  >
    <v-col :cols="cols1" :class="`box1 order-${order1} pa-0 ma-0`">
      <slot name="right"></slot>
    </v-col>
    <v-col :cols="cols2" :class="`box12 order-${order2} pa-0 ma-0`">
      <slot name="left"></slot>
    </v-col>
  </v-row>
</template>
<style scoped>
.set-css-options {
  position: relative;
  height: 60%;
}
</style>
<script>
export default {
  props: {
    cols1: Number,
    cols2: Number,
    order1: Number,
    order2: Number,
    borderR: Number,
    background: String,
    Margin:{
        type: Array,
        default:function(){
            return [10,0,10,0]
        }
    },
  },
  setup() {},
};
</script>
