<template>
  <v-app-bar class="set-padding-margin-md-up" color="bg_sign_up" flat>
    <v-img v-if="checkXs" :src="logo2" class="set-size-icon-nav-bar" />
    <v-img v-else :src="logo" class="set-size-icon-nav-bar" />
    <v-app-bar-title class="pa-2 set-font-size"> nftlanding </v-app-bar-title>

    <v-spacer></v-spacer>

    <v-list
      v-show="cols[0] == true || cols[1] == true ? false : true"
      class="set-stye-list-menu"
    >
      <v-list-item
        v-for="(item, i) in items"
        :key="i"
        :value="item"
        active-color="red-plink"
        class="font-size-for-list-menu"
        rounded="xl"
      >
        <v-list-item-title v-text="item.text"></v-list-item-title>
      </v-list-item>
    </v-list>
    <v-app-bar-nav-icon
      class="set-bg-transparent"
      permanent
      color="bg_sign_up"
      v-show="cols[0] || cols[1]"
      @click="clickTigger"
    >
    </v-app-bar-nav-icon>
  </v-app-bar>
</template>
<script>
import { toRefs } from "@vue/reactivity";
import logo from "../assets/icon-nav/logo.svg";
import logo2 from "../assets/icon-nav/logo2.svg";

export default {
  props: {
    getTigger: Function,
  },
  inject: {
    menus: {
      from: "menuByprovider",
    },
  },
  setup(props) {
    const { getTigger } = toRefs(props);
    const clickTigger = () => {
      drawer = !drawer;
      getTigger.value(drawer);
    };
    let drawer = false;
    return {
      drawer,
      clickTigger,
      logo,
      logo2,
    };
  },
  computed: {
    cols() {
      const { sm, xs } = this.$vuetify.display;
      return [sm, xs];
    },
    items() {
      return this.menus.menu;
    },
    checkXs() {
      const { xs } = this.$vuetify.display;
      return xs;
    },
  },
};
</script>
<style scoped lang="css">
.set-bg-options {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.set-size-icon-nav-bar {
  width: 100%;
  height: 100%;
  max-width: 30px;
  max-height: 30px;
}
.set-stye-list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Inter-Regular;
}
.set-font-size {
  font-family: VarelaRound-Regular;
  font-size: 160%;
  font-weight: 900;
}
.set-padding-margin-md-up {
  padding-right: 7%;
  padding-left: 7%;
}
</style>
