<template>
  <v-navigation-drawer
    class="set-bg-transparent"
    position="right"
    v-model="tiggerModel"
    color="bg_sign_up"
  >
    <!-- <div class="d-flex justify-end">
            <v-btn 
            icon  
            class="bg-transparent"
            ><v-icon >mdi-close</v-icon>
            </v-btn>
        </div> -->
    <v-list>
      <v-list-item
        v-for="(item, i) in menus.menu"
        :key="i"
        :value="item"
        active-color="red-plink"
        rounded="xl"
      >
        <v-list-item-title
          style="opacity: 1; z-index: 1"
          v-text="item.text"
        ></v-list-item-title>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
<script>
export default {
  props: {
    tigger: {
      typ: Boolean,
      default() {
        return false;
      },
    },
  },
  inject: {
    menus: {
      from: "menuByprovider",
    },
  },
  data() {
    return {};
  },
  computed: {
    tiggerModel: function () {
      if ((this.cols[1] || this.cols[0]) === true) {
        return this.tigger;
      }
      return false;
    },
    cols() {
      const { sm, xs } = this.$vuetify.display;
      // console.log(`sm = ${sm}, xs =  ${xs}`)
      return [sm, xs];
    },
  },
};
</script>
<style scoped lang="css">
.set-bg-transparent {
  padding: 2%;
  opacity: 0.9;
  border: transparent;
}
</style>
