<template>
  <v-row
    class="set-style-of-row"
    :style="
      Sm || Xs
        ? 'margin: 8vh 0 0 0;'
        : `border-radius: 20px; margin: 15vh 0 0 0;`
    "
    no-gutters
  >
    <v-col class="text-box" cols="12">
      <v-badge color="#39FFA0" offset-x="4" offset-y="10">
        <v-img class="image-icon" width="70px" :src="Icon"> </v-img>
      </v-badge>

      <div class="Text-p">
        <p :style="`font-size: ${Md ? 2.5 : Sm || Xs ? 2 : 3}em;`">
          Free NFT for early birds
        </p>
        <p :style="`font-size: ${Md ? 1.2 : Sm || Xs ? 1 : 1.5}em;`">Sign up today and you’ll get a free NFT when we launch.</p>
      </div>
    </v-col>
    <v-col class="image-box" cols="0">
      <div class="cards">
        <CardComponet
          :Theme="'light'"
          :widthOfCard="`${Md ? 180 : Sm ? 150 : Xs ? 120 : 280}px`"
          :heightOfCard="`${Md ? 230 : Sm ? 200 : Xs ? 150 : 350}px`"
          :id="'card' + cardObject[0].id"
          :CardObject="cardObject[0]"
          :ScaleText="Md ? 0.6 : Sm ? 0.5 : Xs ? 0.3 : 0.8"
          :ScaleCrytoImg="Sm || Xs ? 0.5 : 1"
          :PaddingTextBox="
            Md
              ? [3, 3, 1, 1]
              : Sm
              ? [3, 3, 1, 1]
              : Xs
              ? [2, 2, 1, 1]
              : [, 5, 4, 4]
          "
          :TexLineHeight="Md ? 100 : Sm ? 100 : Xs ? 60 : 130"
          ColorOfCard="#FFFFFF"
        />
        <CardComponet
          :Theme="'dark'"
          :widthOfCard="`${Md ? 180 : Sm ? 150 : Xs ? 120 : 280}px`"
          :heightOfCard="`${Md ? 230 : Sm ? 200 : Xs ? 150 : 350}px`"
          :id="'card' + cardObject[1].id"
          :CardObject="cardObject[1]"
          :ScaleText="Md ? 0.6 : Sm ? 0.5 : Xs ? 0.3 : 0.8"
          :ScaleCrytoImg="Sm || Xs ? 0.5 : 1"
          :PaddingTextBox="
            Md
              ? [3, 3, 1, 1]
              : Sm
              ? [3, 3, 1, 1]
              : Xs
              ? [2, 2, 1, 1]
              : [, 5, 4, 4]
          "
          :TexLineHeight="Md ? 100 : Sm ? 100 : Xs ? 60 : 130"
          ColorOfCard="#FFFFFF"
        />
        <!-- <div class="test-img"></div> -->
      </div>
    </v-col>
  </v-row>
</template>
<script>
import Icon from "../assets/icon-nav/icon.svg";
import { cardObject } from "../Data/data_of_card";
import CardComponet from "./card-component.vue";
export default {
  props: {
    sizeOfDivide: Object,
  },
  components: {
    CardComponet,
  },
  setup() {
    return {
      Icon,
      cardObject,
    };
  },
  computed: {
    // Lg1 264-1904px ,Md 960-1264px,Sm 600-960px,Xl > 1904px,Xs 0-600px
    Xs: function () {
      return this.sizeOfDivide.Xs;
    },
    Sm: function () {
      return this.sizeOfDivide.Sm;
    },
    Md: function () {
      return this.sizeOfDivide.Md;
    },
    Lg: function () {
      return this.sizeOfDivide.Lg;
    },
    Xl: function () {
      return this.sizeOfDivide.Xl;
    },
  },
};
</script>
<style scoped>
.set-style-of-row {
  /* margin: 0 right bottom left; */
  padding: 7%;
  /* Orange */
  background: -o-linear-gradient(
    325deg,
    #ff3998 0%,
    #ff3939 25%,
    #ff8139 75%,
    #39ffa0 100%
  );
  background: linear-gradient(
    125deg,
    #ff3998 0%,
    #ff3939 25%,
    #ff8139 75%,
    #39ffa0 100%
  );
}
.Text-p {
  color: black;
}
.Text-p p:nth-child(1) {
  padding-top: 4%;
  font-family: Inter-Medium;
}
.Text-p p:nth-child(2) {
  padding-top: 4%;
  font-family: Inter-Regular;
  font-size: 1.2em;
}
.cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#card1 {
  right: 13vw;
  /* margin-bottom: 35px; */
  position: absolute;
  z-index: 1;

  transform: rotate(-5deg);
  -ms-transform: rotate(-5deg); /* IE 9 */
  -webkit-transform: rotate(-5deg); /* Safari and Chrome */
  -o-transform: rotate(-5deg); /* Opera */
  -moz-transform: rotate(-5deg); /* Firefox */

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  will-change: transform;
}
#card2 {
  right: 3vw;

  margin-top: 30px;
  position: absolute;

  transform: rotate(5deg);
  -ms-transform: rotate(5deg); /* IE 9 */
  -webkit-transform: rotate(5deg); /* Safari and Chrome */
  -o-transform: rotate(5deg); /* Opera */
  -moz-transform: rotate(5deg); /* Firefox */

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  will-change: transform;
}
</style>
