<template>
  <v-app id="app">
    <NavigationBar :getTigger="getDrawerTigger" />
    <NavigationDrawer :tigger="setTigger" />
    <v-main>
      <router-view :sizeOfDivide="sizeOfDivide" />
    </v-main>
  </v-app>
</template>
<script>
import NavigationBar from "./components/Navigation-main-bar.vue";
import NavigationDrawer from "./components/Navigation-drawer.vue";

export default {
  components: {
    NavigationBar,
    NavigationDrawer,
  },
  data() {
    return {
      setTigger: false,
    };
  },
  methods: {
    getDrawerTigger: function (val) {
      console.log(val);
      this.setTigger = val;
      console.log(this.setTigger);
    },
  },
  computed: {
    sizeOfDivide: function () {
      const { xs, sm, md, lg, xl } = this.$vuetify.display;
      return {
        Xs: xs,
        Sm: sm,
        Md: md,
        Lg: lg,
        Xl: xl,
      };
    },
  },
  watch: {
    sizeOfDivide: function (newVal) {
      if (newVal["Xs"]) {
        this.$vuetify.theme.current = "light";
      } else {
        this.$vuetify.theme.current = "dark";
      }
    },
  },
  mounted() {
    if (this.sizeOfDivide["Xs"]) {
      this.$vuetify.theme.current = "light";
    } else {
      this.$vuetify.theme.current = "dark";
    }
  },
};
</script>
<style scoped lang="scss">
@import "./assets/css/Set-font-css.css";
@import "./assets/css/Fonts/inter/stylesheet.css";
#app {
  font-family: "VarelaRound-Regular";
  overflow: hidden;
}
</style>
